<nav class='d-flex justify-content-between p-3 bg-dark bg-gradient'>
  <a href='/micuenta' class='btn btn-outline-light'>Mi perfil</a>
  <a href='/chat' class='btn btn-outline-light'>Chat</a>
  <a href='/productos' class='btn btn-outline-light'>Products</a>
  <a href='/carrito' class='btn btn-outline-light'>Cart</a>
  <a href='/Orders' class='btn btn-outline-light'>Orders</a>
  <a href='/logout' class='btn btn-outline-light'>Salir</a>
</nav>